@model Carservice

<h2>Create New car</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.car_name)
        @Html.TextBoxFor(model => model.car_name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.car_number)
        @Html.TextBoxFor(model => model.car_number, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.car_varient)
        @Html.TextBoxFor(model => model.car_varient, new { @class = "form-control" })
    </div> 

    <div class="form-group">
        @Html.LabelFor(model => model.customer_name)
        @Html.TextBoxFor(model => model.customer_name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.complaint)
        @Html.TextBoxFor(model => model.complaint, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.phonenumber)
        @Html.TextBoxFor(model => model.phonenumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.address)
        @Html.TextBoxFor(model => model.address, new { @class = "form-control" })
    </div> 


    <input type="submit" value="Create" class="btn btn-primary" />
}