@model List<Carservice>

<h2>Carservice List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="id">ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="car_name">Car Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="car_number">Car Number</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="car_varient">Car Variant</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="customer_name">Customer Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="complaint">Complaint</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="phonenumber">Phone Number</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="address">Address</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carservice in Model)
        {
            <tr>
                <td>@carservice.id</td>
                <td>@carservice.car_name</td>
                <td>@carservice.car_number</td>
                <td>@carservice.car_varient</td>
                <td>@carservice.customer_name</td>
                <td>@carservice.complaint</td>
                <td>@carservice.phonenumber</td>
                <td>@carservice.address</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@carservice.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New Car</a>
