@model List<Carservice>

<h2>Carservice List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>car_name</th>
            <th>car_number</th>
            <th>car_varient<th>
            <th>customer_name</th>
            <th>complaint</th>
            <th>phonenumber</th>
            <th>address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carservice in Model)
        {
            <tr>
                <td>@carservice.id</td>
                <td>@carservice.car_name</td>
                <td>@carservice.car_number</td>
                <td>@carservice.car_varient</td>
                <td>@carservice.customer_name</td>   
                <td>@carservice.complaint</td>
                <td>@carservice.phonenumber</td>
                <td>@carservice.address</td>
                 <td>
                    <!-- <a asp-action="Details" asp-route-id="@carservice.id">Details</a> | -->
                    <a asp-action="Edit" asp-route-id="@carservice.id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@carservice.id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New car</a>